.playlist-section {
  display:inline-block;
}

.existing-playlist-section {
  display:inline-block;
  border-right: 1px solid black;
  padding:0 .5rem;
  vertical-align:top;
  min-width:120px;
  max-width: 30%;
  font-size:1rem;
}

.edit-playlist-section {
  display:inline-block;
  border-left: 1px solid black;
  min-width:240px;
  max-width:70%;
  font-size:1rem;
  padding-left:.5rem;
}

@media only screen and (max-width:950px) {
  .existing-playlist-section {
    display:block;
    max-width:90%;
    width:100%;
    border-right:none;
  }
  
  .edit-playlist-section {
    width:100%;
    max-width:100%;
    border-left:none;
    margin-top:1rem;
    padding-top:1rem;
    border-top:1px solid black;
  }
}

