.app {
  text-align: center;
  background-color:darkslategray;
  min-height: 100vh;
}

/* HEADER */

.header-extended {
  position:fixed;
  height:4.2rem;
  width:100%;
  z-index:10;
  background-color:darkslategray;
}

.header-main {
  background-color:rgb(211, 189, 233);
  height: 3.7rem;
  color:rgb(114, 20, 202);
  text-align:left;
  margin:0 0 .5rem 0;
  display:flex;
  justify-content:space-between;
  width:100%;
  z-index:10;
  border-bottom:1px solid black;
}

.h1 {
  font-family: 'Titan One', sans-serif;
  color:rgb(114, 20, 202);
  letter-spacing: .06rem;
  font-weight: normal;
  display:inline;
}

.h1-big {
  font-size: 2.5rem;
  padding: .5rem;
  margin: 0;
  text-decoration:underline;
}

.h1-small {
  display:none;
}

.h2 {
  display:inline;
  font-size:1.2rem;
  font-weight:bold;
}

.user-info-container {
  height:100%;
  margin: .5rem .5rem 0 0;
  display:inline;
}

.user-display-name {
  display:inline;
  margin-right:.5rem;
  font-weight:bold;
}

.user-button {
  color: rgb(114, 20, 202);
  border: 1px solid;
  border-color: rgb(114, 20, 202);
  margin:0;
  font-size:1rem;
}





/* HEADER SCREENSIZE SECTIONS */

@media only screen and (max-width:1150px) {
  .App-header {
    height: 3rem;
  }

  .h1-big {
    font-size: 2rem;
  }

  .h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width:1050px) {
  .App-header {
    height: 4rem;
    margin-bottom:.2rem;
  }

  .h1-big {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .h2 {
    display:block;
    font-size: 1rem;
    margin-top:0;
    margin-left:1rem;
  }

  .user-display-name {
    display:block;
    margin:0 0 4px 0;
    text-align:center;
  }

}

@media only screen and (max-width:550px) {
  .header-extended {
    height:2.3rem;
  }
  
  .header-main {
    height: 2rem;
  }
  
  .h1-big {
    display:none;
  }
  
  .h1-small {
    display:inline;
    font-size:1rem;
    margin: 0 0 0 .5rem;
  }

  .h2 {
    display:none;
  }

  .user-info-container {
    margin:2px 8px 0 0;
  }

  .user-display-name {
    display:inline;
    margin:0 4px 0 0;
    text-align:left;
    font-size:.8rem;
  }

  .user-button {
    font-size: .8rem;
  }
}





/* MAIN SECTION */

.main {
  width:100%;
  position:relative;
  top:4.3rem;
  z-index:5;
}

.section-container {
  display:inline-block;
  margin: 0 .5rem 0 .5rem;
  padding: 0;
  vertical-align: top;
  border-radius: 5px;
}

.tracklist-container {
  padding:1rem .5rem;
  background-color: lavenderblush;
  border: 1px solid plum;
  color: purple;
  max-width:360px;
  min-height: 20rem;
}

.playlist-container {
  padding:1rem .5rem;
  background-color: azure;
  border: 1px solid lightblue;
  color: navy;
  max-width:500px;
  min-height:20rem;
}

.h3 {
  color: white;
  text-align:center;
  width:100%;
  margin:0;
  padding-bottom:5px;
}






/* LIST SCREENSIZE SECTIONS */

@media only screen and (max-width:1150px) {
  
}

p {
  margin:0;
  padding:0;
}

label {
  font-weight:bold;
  margin:0;
  font-size: 1.2rem;
  margin-left: 1rem;
}

input {
  font-size: 1.2rem;
  margin: 0 1rem;
}

button {
  padding: .1rem 1rem;
  margin-right:1rem;
  font-weight:bold;
  background-color:lightyellow;
  border-radius: 5px;
  font-size:1.2rem;
  cursor: pointer;
}

@media only screen and (max-width:860px) {
  h3 { 
    font-size: 1rem;
  }
}